.draw-path {
  fill: none;
  stroke: orangered;
  stroke-width: 10;
}

.animate .draw-path {
  animation: drawLine 1s ease forwards;
}

.animate .delay-1 {
  animation-delay: 0.3s;
}

.animate .delay-2 {
  animation-delay: 0.6s;
}

@keyframes drawLine {
  from {
    stroke-dashoffset: var(--start-offset, 100);
  }

  to {
    stroke-dashoffset: 0;
  }
}